@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
  }
  
  h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
  }
  
  h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
      -30px 0px 40px rgba(0, 0, 0, 0.1);
  }
  
  #landing {
    background: #fff;
  }
  
  #landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  #landing-text h2 {
    color: #888;
  }
  
  .btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
  }
  
  .btn:hover {
    background: #f4f4f4;
  }
  
  #header {
    margin: 1rem;
    width: 1500px;
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
  }
  
  #header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    font-size: 1.5rem;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .caption {
    padding: 0.8rem;
    color: #333;
    text-align: center;
  }
  
  footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem 1rem;
    color: #fff;
  }
  
  footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  
  /* Screen Sizes 500px and Up */
  @media (min-width: 500px) {
    #landing {
      display: flex;
      height: 100%;
    }
  
    #landing-text {
      height: 100vh;
    }
  
    #landing-image {
      height: 100vh;
    }
  }
  

  /* Screen Sizes 700px and Up */
  @media (min-width: 700px) {
    .btn {
      padding: 1rem 3rem;
    }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#logo{
    border-image: 2px;
    border-color: #fff;
    width: 400px;
    height: 200px;
    margin-left: 0px;
    position: absolute;
    margin: auto;
}